src/main/mule/cicd-demo3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5e892d0d-ce79-415f-b136-415b2a846aa6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demo3Flow" doc:id="6ba0a0ce-76c1-4e8d-b572-058925e15638" >
		<http:listener doc:name="Listener" doc:id="51e51d43-0c40-4fb0-ac03-0a60ea7fd155" config-ref="HTTP_Listener_config" path="cicd-demo3"/>
		<set-payload value='#["CICD-demo3 message after CICD"]' doc:name="Set Payload" doc:id="4d6ff513-7a77-4169-8bf4-4b67f8b05a9a" />
		<logger level="INFO" doc:name="Logger" doc:id="3be4189f-3d74-4e87-9b3d-bfcc859208a0" message="flow invoked by Demo"/>
	</flow>
</mule>
